#Average Of Three Numbers
#Programmed by Mohammadreza Eyvazkhani
#2022/03/22

#Geting Numbers
number1 = int (input ("Enter Number 1 :"))
number2 = int (input ("Enter Number 2 :"))
number3 = int (input ("Enter Number 3 :"))

#Average process
average = (number1 + number2 + number3) / 3

#Answer
print (average)
